.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.questionWindow {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  text-align: center;
  margin: 1rem;
  h3 {
    margin: 1rem;
    font-weight: normal;
    color: #727272;
  }
}
.question {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  font-size: 8rem;
  font-weight: 500;

  width: 250px;
  height: 250px;

  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.answerWindow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;

  padding: 2rem;
  margin: 2rem;

  border-radius: 1rem;
  background-color: #e2e2e2;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);

  .answers {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 150px;

    font-size: 4rem;

    border-radius: 1rem;
    background-color: #fff;

    user-select: none;
    cursor: pointer;
  }
}
@media screen and (max-width: 420.01px) {
  .question {
    width: 200px;
    height: 200px;
  }
  .answerWindow {
    .answers {
      width: 100px;
      height: 100px;
      font-size: 3rem;
    }
  }
}

@media screen and (max-height: 625.01px) {
  .question {
    width: 200px;
    height: 200px;
  }
  .answerWindow {
    width: 70%;
    margin: 10px auto;
    .answers {
      width: 100px;
      height: 100px;
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 420.01px) and (max-height: 625.01px) {
  .question {
    width: 200px;
    height: 200px;
  }
  .answerWindow {
    .answers {
      width: 80px;
      height: 80px;
      font-size: 2rem;
    }
  }
}
