* {
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
html {
  height: 100vh;
}
body {
  font-family: "inter", sans-serif;
  background-color: #ead2ac;
  background-image: url("/bg.svg");
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 100vh;
  width: 475px;
  border-radius: 1rem;
  background-color: #fff;
}
@media screen and (max-width: 420.01px) {
  .content {
    width: 370px;
    border-radius: 0;
  }
}
