* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    66deg,
    #c0c9d8,
    #909fc6,
    #4b5869
  );
  box-shadow: inset 0 0 15vmax #000;
  overflow: hidden;
  font-family: sans-serif;
}